* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container {
	position: relative;
}
.container{
	background-image: url(Hotel2.jpg);
	background-size: cover;
	background-position: center;
	display: block;
	width: 100%;
	height: 610px;
}
.container h1{
	color: white;
	padding-top: 10px;
	font-size: 48px;
	font-family: 'Playfair Display', cursive;
	padding-left: 5%;
}
.container h4{
	color: white;
	padding-top: 200px;
	font-family: 'Playfair Display', cursive;
	font-size: 22px;
	padding-left: 5%;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: cursive;
	padding: 0 5%;
	height: 65px;
	background-color: #121b2e;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;	
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 0.7rem;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);		
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
.container1 button{
	float:right;
	padding: 6px;
	margin-top: 2px;
	margin-right: 16px;
	background: #121b2e;
	color: white;
	font-size: 17px;
	border: none;
	cursor: pointer;
	font-family: 'Playfair Display', cursive;
}
.container1 button:hover{
	background: #007bff;
}
.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #0087ca;
}
.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 5px;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
} 
.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
  
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 65px;
		bottom: 100%;
		width: auto;
		height: auto;		
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #1e293b;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}
.content{
	background-color: #121b2e;
	width: 100%;
	height: 300px;
}
.content h5{
	color: white;
	padding-top: 100px;
	padding-left: 5%;
	font-size: 20px;
}
.content h1{
	color: white;
	padding-top: 10px;
	padding-left: 5%;
	font-size: 35px;
	font-family: 'Playfair Display', cursive;
}
.content p{
	color: white;
	padding-top: 20px;
	padding-left: 5%;
	font-family: 'Playfair Display', cursive;
	text-align: justify;
}
.content-img img{
	width: 450px;
	padding-top: 100px;
}
.content-info{
	width: 45%;
}
.content{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
}
@media screen and (max-width: 768px){
	.content{
		padding-top: 40px;
		flex-direction: column;
		background-color: #121b2e;
		width: 100%;
		height: 800px;
	}
	.content-info{
		width: 90%;
		padding-top: 0;
	}
	.content-img img{
		margin-left: 10%;
		width: 80%;
		height: auto;
		padding-top: 10px;
	}
	.content h5{
		padding-top: 10px;
	}
}
@media screen and (max-width: 1180px) {
	.content{
		padding-top: 40px;
		flex-direction: column;
		background-color: #121b2e;
		width: 100%;
		height: 800px;
	}
	.content-info{
		width: 90%;
		padding-top: 0;
	}
	.content-img img{
		margin-left: 10%;
		width: 80%;
		height: auto;
		padding-top: 10px;
	}
	.content h5{
		padding-top: 10px;
	}
}
.ss{
	background-color: #1e293b;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.content2 {
	background-image: url("hotel3.jpg");
	width: 50%;
	height: 500px;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
}
.content2 p{
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: 50%;
	font-size: 20px;
	font-family: 'Playfair Display', cursive;;
	transform: translateY(-50%);
}
.timing{
	border:1px dotted white;
	background-color: #121b2e;
	width: 42%;
	height: 400px;
	margin-right: 15px;
	padding: 10px;
}
.timing h3{
	color: #fff;
	text-align:center;
	padding-top: 10%;
}
.timing h1{
	color: white;
	font-size: 35px;
	text-align:center;
	padding-top: 2%;;
}
.weekend{
	width: 35%;
	height: 100px;
	margin: 20px 0;
	border-bottom: 1px solid white;
	padding-bottom: 130px;
}
.week{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.weekend h4{
	text-align: center;
	color:white;
}
@media screen and (max-width: 768px){
	.ss{
		flex-direction: column;
	}
	.content2{
		width:100%;
	}
	.timing{
		width: 80%;
		margin-top: 10%;
		margin-bottom: 10%;
	}
}
.content3{
	background-color: #121b2e;
	width: 100%;
	height: 600px;
	color: white;
	text-align: center;
	width: 100%;
}
.content3 h3{
	font-size: 25px;
	padding-top: 100px;
}
.content3 h1{
	font-size:35px;
	padding-top:8px ;
}
.flip-box {
	background-color: transparent;
	width: 25%;
	height: 300px;
	perspective: 1000px;
} 
.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
} 
.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
} 
.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}  
.flip-box-front {
	background-color: #bbb;
	color: black;
}
.flip-box-back {
	background-color:#1e293b;
	color: white;
	transform: rotateY(180deg);
	padding-top: 100px;
}
.box1{
	padding-top: 30px;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.image1{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(hotel5.jpg);
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
}
  .image1 h2{
	color: white;
	padding-top: 100px;
}
.image1 p{
	color: white;
}
.image2{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(hotel6.jpg);
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
}
.image2 h2{
	color: white;
	padding-top: 100px;
}
.image2 p{
	color: white;
}
.image3{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(hotel7.jpg);
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
}
.image3 h2{
	color: white;
	padding-top: 100px;
}
.image3 p{
	color: white;
}
@media screen and (max-width: 768px){
	.content3{
		height: 1200px;
	}
	.box1{
		flex-direction: column;
	}
	.flip-box{
		width: 100%;
		align-items: center;
	}
	.image1{
		background-position: center;
	    background-size: cover;
	}
	.image2{
		background-position: center;
	    background-size: cover;
	}
	.image3{
		background-position: center;
	    background-size: cover;
	}
}
.content4 {
	background-image: url("hotel8.jpg");
	width: 100%;
	height: 500px;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
}
.content5{
	background-color: #121b2e;
	width: 100%;
	height:600px
}
.content5 p,h2{
	color: white;
	text-align: center;
}
.content5 p{
	padding-top:50px;
	font-size:20px;
}
.content5 h2{
	font-size: 30px;
	padding-top: 10px;
}
.container2 h3{
	color: white;
}
.container2{
	display:flex;
	justify-content: center;
	padding-top: 10px;	
}
.cards{
	background-color: #1e293b;
	width: 300px;
	height:400px;
	margin: 40px;
	border-radius: 15px;
}
.card-image{
	height: 200px;
	margin-bottom: 15px;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
}
.chef-1{
	background-image: url(hotel9.jpg);
}
.chef-2{
	background-image: url(hotel10.jpg);
}
.chef-3{
	background-image: url(hotel11.jpg);
}
.container2 h5{
	color: white;
	text-align: center;
}
.cards p{
	padding-top: 6px;
	font-size: 15px;
	font-family:'Playfair Display', cursive;;
	justify-content: center;
}
.cards:hover{
	background-color: rgb(62, 62, 62);
	color: #fff;
	cursor: pointer;
	transform:scale(1.03);
	transition: all 1s ease;
}
@media screen and (max-width: 768px){
	.content5{
		height: 1600px;
	}
	.container2{
		flex-direction: column;
		align-items: center;
	}
	.cards{
		width: 80%;
	}
	.chef-2{
		background-position: center;
		background-size: cover;
	}
}



